
.home_page{
    height: auto;
}

.StartPage{
    position: relative;
}

.StartImage{
    height: auto;
    width: 100%;
}

.StartImage{
    height: 33vw;
    min-height: 200px;
    position: relative;
}

.Blog{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 110px;
}

.ShortIntroduction{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    width: 45vw;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    color: white;
    padding-left: 70px;
    padding-right: 20px;
    line-height: 2.5vw;
}

.TurnItGreen{
    font-size: 4.5vw;
    display: flex;
    font-weight:bold;
    margin-bottom: 0;
}
.It{
    color: #7BAD66;
}
.Green{
    color:#C1F036;
}

.HomePage_Content{
    position: relative;
    top: 100px;
    margin-bottom: 150px;
}

.CSRDcalculator{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.Title_CSRD{
    width: 100%;
    position: relative;
    height: 60px;
}
.CSRD_Title{
    position: relative;
    font-size: 27px;
    left: 9vw;
    width: 85vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.Recent{
    position: relative;
    top: 50px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.T_Recent{
    position: relative;
    bottom: 10px;
    font-weight: bold;
    left: 9vw;
    font-size: 30px;
    width: fit-content;
}


@media screen and (max-width:1115px) {
    /* Short introduction */
}

@media screen and (max-width:1000px) {
    .ShortIntroduction{
        position: relative;
        top: -20px;
        left: 0;
        width: 100%;
        height: auto;
        font-size: 15px;
        padding-left: 30px;
        line-height: 25px;
        padding-top: 9%;
        padding-bottom: 7%;
    }
    .TurnItGreen{
        font-size: 5vh;
        line-height: 5px;
    }
}


@media screen and (max-width:491px) {
    .Title_CSRD{
        bottom: 30px;
    }
}

@media screen and (max-width:450px){
    .ShortIntroduction{
        font-size: 2.3vh;
        line-height: 20px;
    }
}