
.logotip {
    width: 160px;
    height: auto;
    padding-left: 20px;
}


.GetInTouchButton {
    background-color: #fff;
    color: #000;
    border: 2px solid #c1f036;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2vw;
}

.GetInTouchButton:hover {
    box-shadow: 2px 2px 2px #979a92;
}

.navbar_option{
    text-decoration: none;
    color: var(--bs-nav-link-color);
    padding: var(--bs-nav-link-padding-y);
    align-self: center;
}

.navbar_option:hover{
    cursor: pointer;
    background-color: #f2f2f2;
}

.padding_left{
    padding-left: 3vw;
}
@media screen and (max-width: 1000px) {
    .logotip {
        height: 85px;
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    .GetInTouchButton{
        margin-top: 3vw;
    }
    .navbar_option{
        border-bottom: 2px solid #c1f036;
        padding-left: 2vw;
        align-self: unset;
    }
}
