.StartPage{
    position: relative;
}

.position-relative-search{
    overflow: hidden;
    position: relative;
    height: auto;
    min-height: 150px;
    width: 100%;
}

.SearchImage{
    width: 100%;
    height: auto;
    min-height: 150px;
    position: relative;
}

.SearchFunction{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3%;
    z-index: 5;
}

.SearchBar{
    display: flex;
    border: 3px solid #C1F036;
    border-radius: 17px;
}

.search{
    width: 75vw;
    height: 8vh;
    border: none;
    border-radius: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vh;
    margin-left: 1vw;
}

.search:focus{
    outline: none;
    border: none;
}

.SearchIcon{
    background: #C1F036;
    height: 8vh;
    width: 9vh;
    padding: 1vh;
    padding-left: 1.5vh;
    border: none;
    border-radius:14px;
}

.Blog{
    position: relative;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    height: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 110px;
}

.SearchImgRelative{
    overflow: hidden;
    position: relative;
    height: auto;
    min-height: 150px;
    width: 100%;
}

.custom_loader {
    width:50px;
    height:50px;
    border-radius:50%;
    border:8px solid;
    border-color:#C1F036 #0000;
    animation:s1 1s infinite;
  }
  @keyframes s1 {to{transform: rotate(.5turn)}}

@media screen and (max-width:700px) {
    .SearchImage{
        width: auto;
        height: 150px;
        position: absolute;
        top:0;
        right: 0;
    }
    
}

